.photos__sentence {
  margin: 0 auto -24px 51px;
  padding: 39px 46px 0;
  max-width: 640px;
  background: #fff;
  z-index: 1;
  position: relative;
}

@media all and (max-width: 1200px) {
  .photos__sentence {
    z-index: 0;
    position: unset;
    max-width: 830px;
    text-align: center;
    padding: 15px 46px 50px;
    margin: 0px auto -24px auto;
  }
}

@media all and (max-width: 630px) {
  .photos__sentence {
    text-align: left;
  }
}

@media all and (max-width: 430px) {
  .photos__sentence {
    padding: 39px 30px 50px;
  }
}
