.how-to__list {
  margin: 23px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
}

@media all and (max-width: 634px) {
  .how-to__list {
    max-width: 315px;
  }
}
