.photos__request {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 39px 46px 51px;
  max-width: 640px;
  margin: 0 auto 0 51px;
}

@media all and (max-width: 1200px) {
  .photos__request {
    margin: 0 auto 0;
    padding: 39px 46px 51px;
    justify-content: center;
  }
}

@media all and (max-width: 630px) {
  .photos__request {
    flex-direction: column;
  }
}

@media all and (max-width: 430px) {
  .photos__request {
    padding: 39px 30px 51px;
  }
}
