@import url('./__select-item/header__select-item.css');
@import url('./__select/header__select.css');
@import url('./__wrapper/header__wrapper.css');
@import url('./__logo-image/header__logo-image.css');
@import url('./__logo-title/header__logo-title.css');
@import url('./__logo-title/_logo-title_blue/header__logo-title_blue.css');
@import url('./__nav-list-item/header__nav-list-item.css');
@import url('./__nav-list-link/header__nav-list-link.css');
@import url('./__nav-list/header__nav-list.css');
@import url('./__nav/header__nav.css');
@import url('./__contact/header__contact.css');
@import url('./__select-wrapper/header__select-wrapper.css');
@import url('./__main-wrapper/header__main-wrapper.css');
@import url('./__hamburger/header__hamburger.css');
@import url('./__hamburger-nav-list/header__hamburger-nav-list.css');
@import url('./__hamburger-close/header__hamburger-close.css');
@import url('./__hamburger-nav-link/header__hamburger-nav-link.css');
@import url('./__hamburger-nav-item/header__hamburger-nav-item.css');

.header {
  padding: 44px 80px 38px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media all and (max-width: 1200px) {
  .header {
    padding: 31px 45px 39px;
  }
}

@media all and (max-width: 634px) {
  .header {
    padding: 30px 34px 39px 18px;
  }
}

@media all and (max-width: 430px) {
  .header {
    padding: 30px 15px 15px 0px;
  }
}

