.services__title {
  margin: 0;
  padding: 0 0 0 94px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #000;
}

@media all and (max-width: 1200px) {
  .services__title {
    padding: 0 46px 0;
  }
}
