.how-to__list-circle {
  margin: 0 0 0 10px;
  box-sizing: border-box;
  background-color: #3388D7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0 26px 0;
  width: 72px;
  height: 72px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  color: #FFF;
}
