@font-face {
	font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
	src: url('./proxima-nova/proxima_nova_light.eot'); /* IE 9 Compatibility Mode */
	src: url('./proxima-nova/proxima_nova_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./proxima-nova/proxima_nova_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('./proxima-nova/proxima_nova_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./proxima-nova/proxima_nova_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./proxima-nova/proxima_nova_light.svg#proxima_nova_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
	src: url('./proxima-nova/proxima_nova_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./proxima-nova/proxima_nova_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./proxima-nova/proxima_nova_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./proxima-nova/proxima_nova_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./proxima-nova/proxima_nova_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./proxima-nova/proxima_nova_bold.svg#proxima_nova_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
	src: url('./proxima-nova/proxima_nova_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('./proxima-nova/proxima_nova_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./proxima-nova/proxima_nova_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./proxima-nova/proxima_nova_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./proxima-nova/proxima_nova_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./proxima-nova/proxima_nova_regular.svg#proxima_nova_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
