.photos__sentence-description {
  max-width: 605px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 132%;
  color: #000;
}
