.how-to__list-item {
  min-width: 220px;
  max-width: 220px;
}

.how-to__list-item:last-child {
  white-space: nowrap;
}

@media all and (max-width: 790px) {
  .how-to__list-item:last-child {
    white-space: normal;
  }
}
