.how-to__list-item-description {
  margin: 15px 0 0 10px;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  color: #000;
}

@media all and (max-width: 634px) {
  .how-to__list-item-description {
    font-size: 14px;
    line-height: 125%;
    max-width: 120px;
  }
}
