.header__nav-list-link {
  white-space: nowrap;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.header__nav-list-link:hover {
  filter: opacity(.7);
}
