.services__list {
  padding: 60px 0 130px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 402px);
  grid-template-rows: repeat(1, 157px);
  grid-gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.services__list::-webkit-scrollbar {
  display: none;
}
