.services__item-wrapper {
  position: relative;
  display: inline-block;
  padding: 23px 26px 32px;
  box-sizing: border-box;
  margin: 0;
  width: 402px;
  height: 157px;
  border: 0;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.services__item-wrapper:hover {
  border: 2px solid #3388D7;
}
